<div id="sitemenu-icon-launch">
	<span class="line1"></span>
	<span class="line3"></span>
</div>
<div class="navtop-launch">
	<ul>
		<li id="logoholder-launch">
			<%= image_tag 'jplogo.jpg', :class => "logoimage-launch" %>
		</li>
		<li id="quotebutton-launch" class="jpblue-color selectedtab">
			<span>Enroll Today</span>
			<div class="circletop-launch jpblue"></div>

		</li>

	</ul>

</div>
<div id="wrapperform-launch">
	<div id="hiddenform-launch" class="">
		<div id="wufoo-z1yyisb01g70zdy">
	Fill out my <a href="https://ccevans.wufoo.com/forms/z1yyisb01g70zdy">online form</a>.
	</div>

	<script type="text/javascript">var z1yyisb01g70zdy;(function(d, t) {
	var s = d.createElement(t), options = {
	'userName':'ccevans',
	'formHash':'z1yyisb01g70zdy',
	'autoResize':true,
	'height':'426',
	'async':true,
	'host':'wufoo.com',
	'header':'show',
	'ssl':true};
	s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
	s.onload = s.onreadystatechange = function() {
	var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
	try { z1yyisb01g70zdy = new WufooForm();z1yyisb01g70zdy.initialize(options);z1yyisb01g70zdy.display(); } catch (e) {}};
	var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
	})(document, 'script');</script>
			
	</div>
</div>

<div id="mainlayout-launch" class="jpblue"></div>

<section id="mainlayout2-launch" class="jpblue">
	<div id="quotelayout-launch" class="">
		<div class="header1-launch">
			<span class="bigword-launch">Ready</span></br>
			to protect your</br>
			family and yourself?
		</div>

		<div class="header2-launch">
			Apply or Renew</br>
			<span class="smallword-launch">your health coverage in 2016.</span>

			<div id="qqbutton-launch" class="regbutton-launch">
				Enroll Today
			</div>

		</div>

		<div class="clear"></div>

		<div class="deadlinebox-launch">
		<div class="deadlinebox2-launch">
			<div class="deadline-launch">
				Registration open on</br>
				<span class="deadlinedate-launch">Nov 1, 2015</span>
			</div>
				<div class="dividerline-launch"></div>
				
				<div class="dateremaining-launch">
					<span id="wrapper2-launch">
				<span id="clock1-launch"></span>
				</span> remaining
				</div>

				
		</div>

			


			</div>
		</div>

</section>

<div class="navfooter-launch">
	<div class="contacttoday-launch">
		Contact Today at 704-675-7270

	</div>

</div>

<script type="text/javascript">
	$('#wrapper2').countdown('2015/10/31', function(event) {
	$('#clock1').html(event.strftime('%-D day%!d'));
	});
</script>

<script>

	$("#qqbutton").click(function(){
		$("#hiddenform").addClass("active");
		$("#wrapperform").addClass("active");
		$("#sitemenu-icon").addClass("active");
		$("#sitemenu-icon").addClass("open");
	});
	$("#sitemenu-icon").click(function(){
		$("#hiddenform").removeClass("active");
		$("#wrapperform").removeClass("active");
		$("#sitemenu-icon").removeClass("open");
		$("#sitemenu-icon").removeClass("active");
	});

	$("#saveForm").click(function(){
		$("#hiddenform").removeClass("active");
	});

	$("#quotebutton").click(function(){
		$("#quotelayout").removeClass("nodisplay");
		$("#handslayout").addClass("nodisplay");
		$("#learnlayout").addClass("nodisplay");
		$('#mainlayout').addClass("jpblue");
		$('#mainlayout').removeClass("jppink");
		$('#mainlayout').removeClass("jplightblue");
		$('#quotebutton').addClass("selectedtab");
		$('#handsbutton').removeClass("selectedtab");
		$('#learnbutton').removeClass("selectedtab");
		$('#quotebutton').addClass("jpblue-color");
		$('#handsbutton').removeClass("jppink-color");
		$('#learnbutton').removeClass("jplightblue-color");
	});
	$("#handsbutton").click(function(){
		$("#quotelayout").addClass("nodisplay");
		$("#handslayout").removeClass("nodisplay");
		$("#learnlayout").addClass("nodisplay");
		$('#mainlayout').removeClass("jpblue");
		$('#mainlayout').addClass("jppink");
		$('#mainlayout').removeClass("jplightblue");
		$('#quotebutton').removeClass("selectedtab");
		$('#handsbutton').addClass("selectedtab");
		$('#learnbutton').removeClass("selectedtab");
		$('#quotebutton').removeClass("jpblue-color");
		$('#handsbutton').addClass("jppink-color");
		$('#learnbutton').removeClass("jplightblue-color");
	});
	$("#learnbutton").click(function(){
		$("#quotelayout").addClass("nodisplay");
		$("#handslayout").addClass("nodisplay");
		$("#learnlayout").removeClass("nodisplay");
		$('#mainlayout').removeClass("jpblue");
		$('#mainlayout').removeClass("jppink");
		$('#mainlayout').addClass("jplightblue");
		$('#quotebutton').removeClass("selectedtab");
		$('#handsbutton').removeClass("selectedtab");
		$('#learnbutton').addClass("selectedtab");
		$('#quotebutton').removeClass("jpblue-color");
		$('#handsbutton').removeClass("jppink-color");
		$('#learnbutton').addClass("jplightblue-color");
	});

</script>