// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// navtop

.navtop {position: fixed; top: 0; left: 0; z-index: 100; width: 100%; padding: 10px 0 0 0; margin: 0; background-color: #fff;}
.navtop ul {position: relative; height: auto; width: 100%; max-width: 800px; list-style-type: none; margin: 0; padding: 0;}
.navtop ul li {position: relative; float: left; text-align: center; width: 25%; height: auto; padding: 0; margin: 0; background-color: #fff; cursor: pointer;}
.navtop ul li span {position: relative; color: #e8eae9; width: 100%; text-align: center; font-size: 18px; line-height: 24px; padding: 10px auto; margin: 10px 0; }
.circletop {position: relative; width: 25px; height: 25px; border-radius: 50%; margin:5px auto 10px auto; padding: 0;}
.logoimage {float: left; width: 100%; margin-top: -10px;}
#logoholder {background-color:rgba(232,234,233,0); cursor: pointer; padding-bottom: 10px;}
.clear {position: relative; width: 100%; float: left; clear: both;}

body.noscroll {
    overflow: hidden;
    position: relative;
}

.jpblue {background-color:rgba(0,113,152,1);}
.jppink {background-color:rgba(192,28,115,1);}
.jplightblue {background-color:rgba(88,159,185,1);}
.jplightpink {background-color:rgba(215,121,172,1);}

.jpblue-color {color: #007198;}
.jppink-color {color: #c01c73;}
.jplightblue-color {color: #589fb9;}
.jplightpink-color {color: #d779ac;}

#handsbutton:hover span {color: #c01c73; font-weight: 700;}
#learnbutton:hover span {color: #589fb9; font-weight: 700;}
#quotebutton:hover span {color: #007198; font-weight: 700;}

.body {font-family: 'Century Gothic', Sans-Serif; font-weight: 700;}

// form css

form.simple_forml.contact {width: 50%; margin: 0 25%; font-family: 'Century Gothic', Sans-Serif;}
form.simple_form.contact div.input {border: none; margin: 10px 0; background-color: none; width: 100%;}
form.simple_form.contact div.input label {display: none; min-width: 20%; color: #fff; font-family: 'Century Gothic', Sans-Serif; font-weight: 700; font-size: 36px; line-height: 36px;}
form.simple_form.contact div.input input {margin: 15px 0; font-family: 'Century Gothic', Sans-Serif; width: 100%; background-color: rgba(0,113,152,0); border: none; border-bottom: 2px solid #fff; font-size: 36px; line-height: 36px; color: #fff;}
form.simple_form.contact div.input label.required abbr {display: none;}
form.simple_form.contact div.form-group {text-align: center; font-size: 36px; color: #fff; font-family: 'Century Gothic', Sans-Serif;}
form.simple_form.contact div.form-group select {border: none; background-color: rgba(0,0,0,0); border-bottom: 2px solid #fff;}
form.simple_form.contact div input.btn.btn.btn-primary {font-size: 36px; border-radius: 0; padding: 10px 20px; background-color: rgba(255, 255, 255, 1); color: #007198;}
form.simple_form.contact div.form-group select option {background-color: rbga(0,0,0,0); color: #fff; border: none;}

// javascript
.nodisplay {display: none;}
#quotebutton.jpblue-color span {color: #216f90; font-weight: 700;}
#handsbutton.jppink-color span {color: #b82771; font-weight: 700;}
#learnbutton.jplightblue-color span {color: #a2c8de; font-weight: 700;}
#quotebutton.selectedtab {padding-bottom: 30px; margin-bottom: -30px; transition: all 1s ease 0s;}
#handsbutton.selectedtab {padding-bottom: 30px; margin-bottom: -30px; transition: all 1s ease 0s;}
#learnbutton.selectedtab {padding-bottom: 30px; margin-bottom: -30px; transition: all 1s ease 0s;}

// main layout
#mainlayout {position: fixed; width: 100%; height: 100%; padding: 0; background-color:rgba(0,0,0,1); transition: all 1s ease 0s;}
#mainlayout2 {position: absolute; width: 100%; height: auto; padding: 50px 0 0 0;}
#containerhands {z-index: 10; position: absolute; color: #fff; background-color:rgba(192,28,115,1); width: 100%; height: 100%; margin: 0 auto; transition: all 400ms linear 0s;}
#handsinhealth {font-family: "verveine",sans-serif; background-color: rgba(0,0,0,.75); bottom: 0; cursor: pointer; left: 0; padding: 10px 0 5px; position: absolute; text-align: center; transition: background-color 200ms linear 0s; width: 100%; z-index:100; font-size: 40px; color: #fff;}
#handsinhealth2 {display: none; font-family: "verveine",sans-serif; background-color: rgba(0,0,0,.75); bottom: 0; cursor: pointer; left: 0; padding: 10px 0 5px; position: absolute; text-align: center; transition: background-color 200ms linear 0s; width: 100%; z-index:100; font-size: 40px; color: #fff;}

#intro {height: 100%;}
#intro .slide {background-attachment: fixed; background-position: center 0; background-repeat: no-repeat; background-size: cover; height: 0; overflow: hidden; position: absolute; transition: height 900ms cubic-bezier(.63, .64, .3, 1) 0s; width: 100%;}
#intro .slide.active {height: 100%;}
#main {height: 100%;}
#topcontent {left: 0; margin: 0; width: 100%; position: absolute; text-align: center; top: 15%; z-index: 500;}
.logofont {font-size: 120px; color: #fff; font-family: "verveine",sans-serif; text-shadow: 4px 4px #000; font-weight: 400;}
.handspara {position: relative; text-shadow: 2px 2px #000; text-align: center; font-size: 30px; line-height: 32px; font-family: 'Century Gothic', Sans-Serif; font-weight: 700; width: 60%; margin: 0 20%; color: #fff;}
.topoptions {position: relative; margin: 50px 0; width: 100%;}
#topboxlearn {position: relative; float: left; top: 0; left: 0; text-align: center; background-color:rgba(88,159,185,.95); font-size: 30px; line-height: 24px; width: 50%; height: auto; padding: 50px 5px; color: #fff; cursor: pointer; transition: all 500ms ease 0s;}
#topboxenroll {position: relative; top: 0; margin-left: 50%; text-align: center; background-color:rgba(0,113,152,.95); font-size: 30px; line-height: 24px; width: 50%; height: auto; padding: 50px 5px; color: #fff; cursor: pointer; transition: all 500ms ease 0s;}

#topboxlearn:hover {background-color: rgba(0,0,0,.95); padding: 60px 5px; }
#topboxenroll:hover {background-color: rgba(0,0,0,.95); padding: 60px 5px; }
.handspara:hover span {background-color:rgba(192,28,115,.75);}
#handsinhealth2:hover {color: #c01c73;}
#handsinhealth:hover {color: #c01c73;}

// hands layout
#handslayout {position: relative; float: left; width: 100%; min-height: 100%; height: auto; margin: 0; padding: 75px 5% 25px 5%;}
.handsbox {position: relative; text-align: center; width: 100%; height: auto; margin: 50px 0; padding: 0;}
.handsheader {position: relative; text-align: center; font-size: 60px; color: #fff; font-family: "verveine",sans-serif; text-shadow: 4px 4px #000; font-weight: 700; margin: 10px 0;}
.regbutton2 {display: none; background-color: #fff; text-align: center; color: #216f90; padding: 5px 10px; margin: 10px auto; width: 50%; font-size: 36px; font-weight: 700;}
.handsgallery {position: relative; float: left; width: 100%; padding: 0; margin: 25px 0; height: auto;}
.handspic {position: relative; float: left; width: 23%; margin: 0 1%; height: auto;}
.galleryimage {position: relative; width: 100%; height: auto; margin: 25px 0;}
.howitworks {position: relative; width: 100%; height: auto;}
.workspic {position: relative; width: 100%; height: auto; float: left;}
.workspic2 {position: relative; width: 100%; height: auto; float: left;}
.handspara2 {position: relative; color: #fff; font-size: 36px; line-height: 38px; width: 80%; margin: 10px 10%; font-family: 'Century Gothic', Sans-Serif; font-weight: 400;}
.hands3steps {position: relative; color: #000; font-family: "verveine",sans-serif; font-size: 48px; line-height: 48px; text-align: center;}
.workspara {font-size: 48px; line-height: 48px; text-align: center; width: 100%; font-family: 'Century Gothic', Sans-Serif;}
.worksbox {position: relative; float: left; width: 33.33%;}

// learn layout
#learnlayout {position: relative; float: left;  width: 100%; min-height: 100%; height: auto; margin: 0; padding: 75px 5% 25px 5%;}
.learnbox {position: relative; float: left; text-align: left; width: 80%; margin: 50px 10%; padding: 0; font-family: 'Century Gothic', Sans-Serif; font-weight: 700;}
.learnheader {position: relative; text-align: left; width: 100%; font-size: 40px; line-height: 40px; color: #fff;}
.smallword2 {font-size: 24px; font-weight: 400;}
.bigword2 {font-size: 80px;}
.learnpara {position: relative; text-align: left; color: #000; margin: 10px 0; font-size: 30px; line-height: 32px; font-weight: 400;}
.learnlink {color: #b82771; text-decoration: underline;}
.learnquizbox {position: relative; height: 400px; width: 500px; margin: 50px auto; padding: 0 0 0 0;}
.learnquiz {position: relative; height: 400px; width: 400px; margin: 0; background-color: rgba(184,39,113,1);}
#learninfo {position: relative; width: 100%; height: auto; margin: 0; padding: 0;}
#answerbox {position: absolute; top: 0; right: -100px; width: 90px; height: 400px; padding: 0; margin: 0;}
#truebox {position: relative; width: 100px; height: 195px; text-align: center; font-size: 24px; line-height: 24px; padding: 85.5px 0; color: #fff; vertical-align: center; background-color:rgba(33,111,144,1); cursor: pointer; transition: all 500ms ease 0s;}
#falsebox {position: relative; width: 100px; height: 195px; margin-top: 10px; text-align: center; font-size: 24px; line-height: 24px; padding: 85.5px 0; color: #fff; vertical-align: center; background-color:rgba(184,39,113,1); cursor: pointer; transition: all 500ms ease 0s;}
.learnmorebox {display: none; position: absolute; bottom: -30px; width: 100%; height: auto;}
.sharebox {display: none; position: relative; font-size: 24px; color: #000; font-weight: 400;}
.learncountbox {position: absolute; bottom: -30px; right: -100px; color: #e8eae9; font-size: 24px; font-style: italic; font-weight: 400;}
.quiztitle {position: relative; font-size: 40px; color: #fff; text-align: center; width: 100%;}
.learnimage {position: relative; width: 100%; height: auto; margin: 0; padding: 0;}

#truebox:hover {opacity: .7;}
#falsebox:hover {opacity: .7;}
#truebox.correctBox {height: 44px; padding: 10px 0; cursor: default;}
#falsebox.correctBox {height: 44px; padding: 10px 0; margin-top:0; cursor: default;}
#truebox.correctBox:hover {opacity: 1;}
#falsebox.correctBox:hover {opacity: 1;}
#scorebox {position: relative; width: 100px; height: 346px; margin-top: 10px; color: #000; text-align: left; font-size: 18px; line-height: 20px; padding: 10px 2px; color: 000; background-color:rgba(255,255,255,1); transition: all 500ms ease 0s;}
#scoretext {text-align: center; font-size: 36px; padding: 30px 0;}
#itemnumber {text-align: center; padding: 10px 0; width: 100%;};
#results {text-align: center; padding: 10px 0; width: 100%; font-weight: 400;}
#next {position: absolute; bottom: 0; left: 0; width: 100%; font-size: 18px; line-height: 18px; text-align: center; cursor: pointer; background-color: rgba(0,0,0,1); color: #fff; padding: 10px 0;}

#quizstarter {position: relative; width: 100%; height: 100%; padding: 50px 5%; background-color: rgba(184,39,113,1);}
#quizstarter p {font-size: 18px; line-height: 20px; color: #fff; font-weight: 400;}
#startquiznow {position: relative; cursor: pointer; margin: 50px 25%; width: 50%; padding: 10px 15px; background-color: rgba(255,255,255,1); color: #000; text-align: center; font-size: 24px; font-weight: 400;}
#truebox.notactivated {cursor: default; width: 50px; font-size: 0px;}
#falsebox.notactivated {cursor: default; width: 50px; font-size: 0px;}
#truebox.notactivated:hover {opacity: 1;}
#falsebox.notactivated:hover {opacity: 1;}

#quizendbox {position: relative; width: 100%; height: 100%; padding: 50px 5%; background-color: rgba(184,39,113,1);}
#quizendbox p {font-size: 18px; line-height: 20px; color: #fff; font-weight: 400;}
#quizenroll {position: relative; cursor: pointer; margin: 50px 25%; width: 50%; padding: 10px 15px; background-color:rgba(0,113,152,1); color: #fff; text-align: center; font-size: 24px; font-weight: 400;}
#retry {position: absolute; bottom: 0; left: 0; width: 100%; font-size: 18px; line-height: 18px; text-align: center; cursor: pointer; background-color: rgba(0,0,0,1); color: #fff; padding: 10px 0;}
#scorebox.quizfinish {position: relative; width: 100px; height: 400px; margin-top: 0; color: #fff; background-color:rgba(0,113,152,1);}

// quote layout
#quotelayout {position: relative; float: left;  width: 100%; min-height: 100%; height: auto; margin: 0; padding: 75px 0 25px 0;}
.header1 {position: relative; color: #fff; font-weight: 700; font-size: 100px; line-height: 100px; text-align: center; width: 100%; margin: 50px 0 0 0;}
.bigword {font-size: 128px;}
.header2 {position: relative; color: #fff; font-weight: 700; width: 100%; margin: 50px 0 0px 0; font-size: 60px; line-height: 50px; text-align: center;}
.smallword {font-size: 36px;}
.regbutton {background-color: #fff; cursor: pointer; text-align: center; color: #b82771; text-shadow: 0px; padding: 132px 0; margin: 0; width: 300px; height: 300px; border-radius: 50%; font-size: 36px;}

.deadlinebox {position: relative; float: left; clear: both; height: auto; width: 100%; margin: 0 0 50px 0; padding: 0; text-align: center; color: #fff;}
.deadlinebox2 {width: 96%; margin: 0 2%; padding: 10px;}
.deadline {position: relative; font-size: 36px; line-height: 38px; font-weight: 400;}
.deadlinedate {font-weight: 700;}
.dividerline {height: 3px; width: 50%; margin: 25px 25%; clear: both; background-color:rgba(0,0,0,1);}
.dateremaining {position: relative; text-align: center; font-size: 30px; font-style: italic; width: 100%;}
#notready {position: relative; background-color: #fff; cursor: pointer; text-align: center; color: #216f90; padding: 5px 10px; margin: 10px auto 10px 0; width: 70%; font-size: 36px;}
.bottomoptions {position: relative; margin: 25px 0; width: 100%;}
#bottomboxenroll {position: relative; float: left; top: 0; left: 0; text-align: center; background-color:rgba(255,255,255,.95); font-size: 30px; line-height: 24px; width: 50%; height: auto; padding: 50px 5px; color: #c01c73; cursor: pointer; transition: all 500ms ease 0s;}
#bottomboxcontact {position: relative; top: 0; margin-left: 50%; text-align: center; background-color:rgba(215,121,172,.95); font-size: 30px; line-height: 24px; width: 50%; height: auto; padding: 50px 5px; color: #000; cursor: pointer; transition: all 500ms ease 0s;}

#bottomboxenroll:hover {background-color: rgba(0,0,0,.95); padding: 60px 5px; color: #fff; }
#bottomboxcontact:hover {background-color: rgba(0,0,0,.95); padding: 60px 5px; color: #fff;}


// footer nav
.navfooter {position: relative; float: left; height: auto; width: 100%; margin: 0; padding: 15px 5%; background-color:rgba(232,234,233,1); color: #000;}
.checklist {position: relative; width: 300px; height: 5px; background-color: rgba(0,0,0,1); opacity: 1; overflow: visible; margin: 5px auto;}
.checklist .circletop {background-color: rgba(0,0,0, 1); width: 30px; height: 30px; border-radius: 50%; border: 5px solid rgba(232, 234, 233, 1);}
.contacttoday {position: relative; float: left; color: #000; font-size: 18px; font-weight: 700; margin: 5px 25px;}
#circlelist1 {position: absolute; top: -17.5px; left: -5px;}
#circlelist2 {position: absolute; top: -17.5px; left: 137.5px;}
#circlelist3 {position: absolute; top: -17.5px; right: -5px;}
.sitedesign {position: relative; float: right; color: #000; font-size: 18px; font-weight: 400; margin: 5px 25px;}
.sitedesign a {color: #000;}
.sitedesign a:hover {color: #000; font-weight: 700;}

// hidden form
#wrapperform {opacity: 0; z-index: 0; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(33,111,144,.95); margin: 0;}
#wrapperform.active {opacity: 1; z-index: 999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(33,111,144,.95); margin: 0;}
#hiddenform {position: absolute; opacity: 0; background-color: none; z-index: 0; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 0 auto;}
#hiddenform.active {position: absolute; opacity: 1; background-color: none; z-index: 1000; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 0 auto;}

#wrapperform2 {opacity: 0; z-index: 0; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(215,121,172,.95); margin: 0;}
#wrapperform2.active {opacity: 1; z-index: 999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(215,121,172,.95); margin: 0;}
#hiddenform2 {position: absolute; opacity: 0; background-color: none; z-index: 0; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 0 auto;}
#hiddenform2.active {position: absolute; opacity: 1; background-color: none; z-index: 1000; top: 0; left: 25%; width: 50%; height: auto; margin: 100px auto 0 auto;}

#hiddenform2 h1 {text-align: center; font-size: 48px; color: #000;}
#hiddenform2 h2 {text-align: center; font-size: 36px; color: #000;}

// closed button 
#sitemenu-icon {display: none;}
#sitemenu-icon.active {
	background-color: transparent;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: fixed;
    right: 40px;
    top: 40px;
    width: 32px;
    z-index: 10000;
}

#sitemenu-icon span {
    background: #eaeaea none repeat scroll 0 0;
    height: 4px;
    position: absolute;
    transition: all 300ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    width: 32px;
}
#sitemenu-icon span.line1 {
    top: 0;
}
#sitemenu-icon span.line2 {
    top: 10px;
}
#sitemenu-icon span.line3 {
    top: 20px;
}
#sitemenu-icon.open .line1 {
    top: 12px;
    transform: rotate(-45deg);
}
#sitemenu-icon.open .line2 {
    opacity: 0;
}
#sitemenu-icon.open .line3 {
    top: 12px;
    transform: rotate(45deg);
}


// mobile css
@media screen and (max-width: 640px){
	// navtop

	.navtop {position: absolute; top: 0; left: 0; z-index: 100; width: 100%; padding: 0px 0 0 0; margin: 0; background-color: #fff;}
	.navtop ul {position: relative; height: auto; width: 100%; max-width: 800px; list-style-type: none; margin: 0; padding: 0;}
	.navtop ul li {position: relative; float: left; text-align: center; width: 25%; height: auto; padding: 0; margin: 0; background-color: #fff; cursor: pointer;}
	.navtop ul li span {position: relative; color: #e8eae9; width: 100%; text-align: center; font-size: 10px; line-height: 10px; padding: 5px auto; margin: 5px 0; }
	.circletop {position: relative; width: 15px; height: 15px; border-radius: 50%; margin:0px auto 5px auto; padding: 0;}
	.logoimage {float: left; width: 100%; margin-top: 0px;}
	#logoholder {background-color:rgba(232,234,233,1); cursor: default; padding-bottom: 0px;}
	.navtop {position: fixed; top: 0; left: 0; z-index: 100; width: 100%; padding: 10px 0 0 0; margin: 0; background-color: #fff;}

	// form css

	form.simple_forml.contact {width: 100%; margin: 0 0%; font-family: 'Century Gothic', Sans-Serif;}
	form.simple_form.contact div.input label {display: none; min-width: 20%; color: #fff; font-family: 'Century Gothic', Sans-Serif; font-weight: 700; font-size: 20px; line-height: 20px;}
	form.simple_form.contact div.input input {margin: 15px 0; font-family: 'Century Gothic', Sans-Serif; width: 100%; background-color: rgba(0,113,152,0); border: none; border-bottom: 2px solid #fff; font-size: 20px; line-height: 20px; color: #fff;}
	form.simple_form.contact div.form-group {text-align: center; font-size: 20px; color: #fff; font-family: 'Century Gothic', Sans-Serif;}
	form.simple_form.contact div.form-group select {border: none; background-color: rgba(0,0,0,0); border-bottom: 2px solid #fff;}
	form.simple_form.contact div input.btn.btn.btn-primary {font-size: 20px; border-radius: 0; padding: 5px 10px; background-color: rgba(255, 255, 255, 1); color: #007198;}
	



	// javascript
	#quotebutton.selectedtab {padding-bottom: 10px; margin-bottom: -10px; transition: all 1s ease 0s;}
	#handsbutton.selectedtab {padding-bottom: 10px; margin-bottom: -10px; transition: all 1s ease 0s;}
	#learnbutton.selectedtab {padding-bottom: 10px; margin-bottom: -10px; transition: all 1s ease 0s;}

	// main layout
	#handsinhealth {font-family: "verveine",sans-serif; background-color: rgba(0,0,0,.75); bottom: 0; cursor: pointer; left: 0; padding: 10px 0 5px; position: absolute; text-align: center; transition: background-color 200ms linear 0s; width: 100%; z-index:100; font-size: 20px; color: #fff;}
	#handsinhealth2 {display: none; font-family: "verveine",sans-serif; background-color: rgba(0,0,0,.75); bottom: 0; cursor: pointer; left: 0; padding: 10px 0 5px; position: absolute; text-align: center; transition: background-color 200ms linear 0s; width: 100%; z-index:100; font-size: 20px; color: #fff;}

	#topcontent {left: 0; margin: 0; width: 100%; position: absolute; text-align: center; top: 10%; z-index: 500;}
	.logofont {font-size: 50px; color: #fff; font-family: "verveine",sans-serif; text-shadow: 2px 2px #000; font-weight: 400;}
	.handspara {position: relative; text-shadow: 1px 1px #000; text-align: center; font-size: 18px; line-height: 20px; font-family: 'Century Gothic', Sans-Serif; font-weight: 700; width: 80%; margin: 0 10%; color: #fff;}
	.topoptions {position: relative; margin: 50px 0; width: 100%;}
	#topboxlearn {position: relative; float: left; top: 0; left: 0; text-align: center; background-color:rgba(88,159,185,.95); font-size: 20px; line-height: 20px; width: 50%; height: auto; padding: 40px 5px; color: #fff; cursor: pointer; transition: all 500ms ease 0s;}
	#topboxenroll {position: relative; top: 0; margin-left: 50%; text-align: center; background-color:rgba(0,113,152,.95); font-size: 20px; line-height: 20px; width: 50%; height: auto; padding: 40px 5px; color: #fff; cursor: pointer; transition: all 500ms ease 0s;}

	#topboxlearn:hover {background-color: rgba(0,0,0,.95); padding: 50px 5px; }
	#topboxenroll:hover {background-color: rgba(0,0,0,.95); padding: 50px 5px; }

	// hands layout
	#handslayout {position: relative; float: left; width: 100%; min-height: 100%; height: auto; margin: 0; padding: 25px 5% 25px 5%;}
	.handsbox {position: relative; text-align: center; width: 100%; height: auto; margin: 10px 0; padding: 0;}
	.handsheader {position: relative; text-align: center; font-size: 60px; color: #fff; font-family: "verveine",sans-serif; text-shadow: 4px 4px #000; font-weight: 700; margin: 10px 0;}
	.regbutton2 {display: none; background-color: #fff; text-align: center; color: #216f90; padding: 5px 10px; margin: 10px auto; width: 50%; font-size: 36px; font-weight: 700;}
	.handsgallery {position: relative; float: left; width: 100%; padding: 0; margin: 25px 0; height: auto;}
	.handspic {position: relative; float: left; width: 46%; margin: 0 2%; height: auto;}
	.galleryimage {position: relative; width: 100%; height: auto; margin: 0px 0;}
	.howitworks {position: relative; width: 100%; height: auto;}
	.workspic {position: relative; width: 30%; height: auto; float: left;}
	.workspic2 {position: relative; width: 70%; height: auto; float: left;}
	.handspara2 {position: relative; color: #fff; font-size: 18px; line-height: 20px; width: 80%; margin: 10px 10%; font-family: 'Century Gothic', Sans-Serif; font-weight: 400;}
	.hands3steps {position: relative; color: #000; font-family: "verveine",sans-serif; font-size: 24px; line-height: 24px; text-align: center;}
	.workspara {font-size: 18px; line-height: 20px; text-align: center; width: 100%; margin: 5%; font-family: 'Century Gothic', Sans-Serif;}
	.worksbox {position: relative; float: left; width: 100%;}

	// learn layout
	#learnlayout {position: relative; float: left;  width: 100%; min-height: 100%; height: auto; margin: 0; padding: 25px 5% 25px 5%;}
	.learnbox {position: relative; float: left; text-align: left; width: 100%; margin: 0px 0 25px 0; padding: 0; font-family: 'Century Gothic', Sans-Serif; font-weight: 700;}
	.learnheader {position: relative; text-align: left; width: 100%; font-size: 30px; line-height: 30px; color: #fff;}
	.smallword2 {font-size: 18px; font-weight: 400;}
	.bigword2 {font-size: 60px; line-height: 60px;}
	.learnpara {position: relative; text-align: left; color: #000; margin: 10px 0; font-size: 18px; line-height: 20px; font-weight: 400;}
	.learnlink {color: #b82771; text-decoration: underline;}
	.learnquizbox {position: relative; height: 240px; width: 300px; margin: 25px 0; padding: 0 0 0 0;}
	.learnquiz {position: relative; height: 240px; width: 240px; margin: 0; background-color:rgba(192,28,115,1);}
	#learninfo {position: relative; width: 100%; height: auto; margin: 0; padding: 0;}
	#answerbox {position: absolute; top: 0; right: -60px; width: 54px; height: 240px; padding: 0; margin: 0;}
	#truebox {position: relative; width: 60px; height: 117px; text-align: center; font-size: 18px; line-height: 18px; padding: 51px 0; color: #fff; vertical-align: center; background-color:rgba(33,111,144,1);}
	#falsebox {position: relative; width: 60px; height: 117px; margin-top: 6px; text-align: center; font-size: 18px; line-height: 18px; padding: 51px 0; color: #fff; vertical-align: center; background-color:rgba(184,39,113,1);}
	.learnmorebox {position: absolute; bottom: -24px; width: 100%; height: auto;}
	.sharebox {position: relative; font-size: 18px; color: #000; font-weight: 400;}
	.learncountbox {position: absolute; bottom: -24px; right: -60px; color: #e8eae9; font-size: 18px; font-style: italic; font-weight: 400;}
	.quiztitle {position: relative; font-size: 20px; line-height: 24px; color: #fff; text-align: center; width: 100%;}

	#truebox.correctBox {font-size: 18px; line-height: 18px; height: 38px; padding: 10px 0; cursor: default;}
	#falsebox.correctBox {font-size: 18px; line-height: 18px; height: 38px; padding: 10px 0; margin-top:0; cursor: default;}
	#scorebox {position: relative; width: 60px; height: 196px; margin-top: 6px; text-align: left; font-size: 12px; line-height: 14px; padding: 2px 2px; color: 000; background-color:rgba(255,255,255,1); transition: all 500ms ease 0s;}
	#scoretext {text-align: center; font-size: 20px; padding: 10px 0;}
	#itemnumber {text-align: center; padding: 5px 0; width: 100%; font-weight: 400;};
	#results {text-align: center; padding: 5px 0; width: 100%; font-weight: 400;}
	#next {position: absolute; bottom: 0; left: 0; width: 100%; font-size: 16px; line-height: 16px; text-align: center; cursor: pointer; background-color: rgba(0,0,0,1); color: #fff; padding: 10px 0;}

    #quizstarter {position: relative; width: 100%; height: 100%; padding: 10px 5%; background-color: rgba(184,39,113,1);}
    #quizstarter p {font-size: 16px; line-height: 18px; color: #fff; font-weight: 400;}
    #startquiznow {position: relative; cursor: pointer; margin: 10px 15%; width: 70%; padding: 10px 15px; background-color: rgba(255,255,255,1); color: #000; text-align: center; font-size: 18px; font-weight: 400;}
    #truebox.notactivated {cursor: default; width: 30px; font-size: 0px;}
    #falsebox.notactivated {cursor: default; width: 30px; font-size: 0px;}
    #truebox.notactivated:hover {opacity: 1;}
    #falsebox.notactivated:hover {opacity: 1;}

    #quizendbox {position: relative; width: 100%; height: 100%; padding: 10px 5%; background-color: rgba(184,39,113,1);}
    #quizendbox p {font-size: 16px; line-height: 18px; color: #fff; font-weight: 400;}
    #quizenroll {position: relative; cursor: pointer; margin: 10px 15%; width: 70%; padding: 10px 15px; background-color:rgba(0,113,152,1); color: #fff; text-align: center; font-size: 18px; font-weight: 400;}
    #retry {position: absolute; bottom: 0; left: 0; width: 100%; font-size: 16px; line-height: 16px; text-align: center; cursor: pointer; background-color: rgba(0,0,0,1); color: #fff; padding: 10px 0;}
    #scorebox.quizfinish {position: relative; width: 60px; height: 240px; margin-top: 0; color: #fff; background-color:rgba(0,113,152,1);}


	// quote layout
	#quotelayout {position: relative; float: left;  width: 100%; min-height: 100%; height: auto; margin: 0; padding: 25px 0 25px 0;}
	.header1 {position: relative; color: #fff; font-weight: 700; font-size: 30px; line-height: 32px; text-align: center; width: 100%; margin: 25px 0 0 0;}
	.bigword {font-size: 60px;}
	.header2 {position: relative; color: #fff; font-weight: 700; width: 100%; margin: 30px 0 15px 0; font-size: 24px; line-height: 24px; text-align: center;}
	.smallword {font-size: 18px;}

	.deadlinebox {position: relative; float: left; clear: both; height: auto; width: 100%; margin: 0 0 50px 0; padding: 0; text-align: center; color: #fff;}
	.deadlinebox2 {width: 70%; margin: 0 15%; padding: 10px;}
	.deadline {position: relative; font-size: 24px; line-height: 26px; font-weight: 400;}
	.deadlinedate {font-weight: 700;}
	.dateremaining {position: relative; text-align: center; font-size: 20px; line-height: 20px; font-style: italic; width: 100%;}
	.bottomoptions {position: relative; margin: 25px 0; width: 100%;}
	#bottomboxenroll {position: relative; float: left; top: 0; left: 0; text-align: center; background-color:rgba(255,255,255,.95); font-size: 20px; line-height: 20px; width: 50%; height: auto; padding: 40px 5px; color: #c01c73; cursor: pointer; transition: all 500ms ease 0s;}
	#bottomboxcontact {position: relative; top: 0; margin-left: 50%; text-align: center; background-color:rgba(215,121,172,.95); font-size: 20px; line-height: 20px; width: 50%; height: auto; padding: 40px 5px; color: #000; cursor: pointer; transition: all 500ms ease 0s;}

	#bottomboxenroll:hover {background-color: rgba(0,0,0,.95); padding: 50px 5px; color: #fff; }
	#bottomboxcontact:hover {background-color: rgba(0,0,0,.95); padding: 50px 5px; color: #fff;}

	// footer nav
	.navfooter {position: relative; float: left; height: auto; width: 100%; margin: 0; padding: 5px 1%; background-color:rgba(232,234,233,1); color: #000;}
	.contacttoday {position: relative; float: left; color: #000; font-size: 12px; font-weight: 700; margin: 5px;}
	.sitedesign {position: relative; float: right; color: #000; font-size: 12px; font-weight: 400; margin: 5px;}

	// hidden form
	#wrapperform {opacity: 0; z-index: 0; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(33,111,144,.95); margin: 0;}
	#wrapperform.active {opacity: 1; z-index: 999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(33,111,144,.95); margin: 0;}
	#hiddenform {position: absolute; opacity: 0; background-color: rgba(0,0,0,0); z-index: 0; top: 0; left: 5%; width: 80%; height: auto; margin: 50px auto 0 auto;}
	#hiddenform.active {position: absolute; opacity: 1; background-color: rgba(0,0,0,0); z-index: 1000; top: 0; left: 5%; width: 80%; height: auto; margin: 50px auto 0 auto;}

	#wrapperform2 {opacity: 0; z-index: 0; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(215,121,172,.95); margin: 0;}
	#wrapperform2.active {opacity: 1; z-index: 999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(215,121,172,.95); margin: 0;}
	#hiddenform2 {position: absolute; opacity: 0; background-color: rgba(0,0,0,0); z-index: 0; top: 0; left: 5%; width: 80%; height: auto; margin: 50px auto 0 auto;}
	#hiddenform2.active {position: absolute; opacity: 1; background-color: rgba(0,0,0,0); z-index: 1000; top: 0; left: 5%; width: 80%; height: auto; margin: 50px auto 0 auto;}

	#hiddenform2 h1 {text-align: center; font-size: 36px; color: #000;}
	#hiddenform2 h2 {text-align: center; font-size: 24px; color: #000;}

	// closed button 
	#sitemenu-icon {display: none;}
	#sitemenu-icon.active {
		background-color: transparent;
	    cursor: pointer;
	    display: inline-block;
	    height: 24px;
	    position: fixed;
	    right: 20px;
	    top: 20px;
	    width: 32px;
	    z-index: 10000;
	}

	#sitemenu-icon span {
	    background: #eaeaea none repeat scroll 0 0;
	    height: 4px;
	    position: absolute;
	    transition: all 300ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
	    width: 32px;
	}
	#sitemenu-icon span.line1 {
	    top: 0;
	}
	#sitemenu-icon span.line2 {
	    top: 10px;
	}
	#sitemenu-icon span.line3 {
	    top: 20px;
	}
	#sitemenu-icon.open .line1 {
	    top: 12px;
	    transform: rotate(-45deg);
	}
	#sitemenu-icon.open .line2 {
	    opacity: 0;
	}
	#sitemenu-icon.open .line3 {
	    top: 12px;
	    transform: rotate(45deg);
	}



}

@media screen and (max-width: 500px){
    // navtop

    .navtop {position: fixed; top: 0; left: 0; z-index: 100; width: 100%; padding: 10px 0 0 0; margin: 0; background-color: #fff;}
    .navtop ul {position: relative; height: auto; width: 100%; max-width: 800px; list-style-type: none; margin: 0; padding: 0;}
    .navtop ul li {position: relative; float: left; text-align: center; width: 25%; height: auto; padding: 0; margin: 0; background-color: #fff; cursor: pointer;}
    .navtop ul li span {position: relative; color: #e8eae9; width: 100%; text-align: center; font-size: 16px; line-height: 24px; padding: 10px auto; margin: 10px 0; }

    // learn layout
    #learnlayout {position: relative; float: left;  width: 100%; min-height: 100%; height: auto; margin: 0; padding: 25px 0% 25px 0%;}
    .learnbox {position: relative; float: left; text-align: left; width: 100%; margin: 0px 0 25px 0; padding: 0; font-family: 'Century Gothic', Sans-Serif; font-weight: 700;}
    .learnheader {position: relative; text-align: left; width: 100%; padding: 0 5%; font-size: 30px; line-height: 30px; color: #fff;}
    .smallword2 {font-size: 18px; font-weight: 400;}
    .bigword2 {font-size: 60px; line-height: 60px;}
    .learnpara {position: relative; text-align: left; color: #000; padding: 0 5%; margin: 10px 0; font-size: 18px; line-height: 20px; font-weight: 400;}
    .learnlink {color: #b82771; text-decoration: underline;}
    .learnquizbox {position: relative; height: 240px; width: 300px; margin: 25px 0; padding: 0 0 0 0;}
    .learnquiz {position: relative; height: 240px; width: 240px; margin: 0; background-color:rgba(192,28,115,1);}
    #learninfo {position: relative; width: 100%; height: auto; margin: 0; padding: 0;}
    #answerbox {position: absolute; top: 0; right: -60px; width: 54px; height: 240px; padding: 0; margin: 0;}
    #truebox {position: relative; width: 60px; height: 117px; text-align: center; font-size: 18px; line-height: 18px; padding: 51px 0; color: #fff; vertical-align: center; background-color:rgba(33,111,144,1);}
    #falsebox {position: relative; width: 60px; height: 117px; margin-top: 6px; text-align: center; font-size: 18px; line-height: 18px; padding: 51px 0; color: #fff; vertical-align: center; background-color:rgba(184,39,113,1);}
    .learnmorebox {position: absolute; bottom: -24px; width: 100%; height: auto;}
    .sharebox {position: relative; font-size: 18px; color: #000; font-weight: 400;}
    .learncountbox {position: absolute; bottom: -24px; right: -60px; color: #e8eae9; font-size: 18px; font-style: italic; font-weight: 400;}
    .quiztitle {position: relative; font-size: 20px; line-height: 24px; color: #fff; text-align: center; width: 100%;}

    #truebox.correctBox {font-size: 18px; line-height: 18px; height: 38px; padding: 10px 0; cursor: default;}
    #falsebox.correctBox {font-size: 18px; line-height: 18px; height: 38px; padding: 10px 0; margin-top:0; cursor: default;}
    #scorebox {position: relative; width: 60px; height: 196px; margin-top: 6px; text-align: left; font-size: 12px; line-height: 14px; padding: 2px 2px; color: 000; background-color:rgba(255,255,255,1); transition: all 500ms ease 0s;}
    #scoretext {text-align: center; font-size: 20px; padding: 10px 0;}
    #itemnumber {text-align: center; padding: 5px 0; width: 100%; font-weight: 400;};
    #results {text-align: center; padding: 5px 0; width: 100%; font-weight: 400;}
    #next {position: absolute; bottom: 0; left: 0; width: 100%; font-size: 16px; line-height: 16px; text-align: center; cursor: pointer; background-color: rgba(0,0,0,1); color: #fff; padding: 10px 0;}

    #quizstarter {position: relative; width: 100%; height: 100%; padding: 10px 5%; background-color: rgba(184,39,113,1);}
    #quizstarter p {font-size: 16px; line-height: 18px; color: #fff; font-weight: 400;}
    #startquiznow {position: relative; cursor: pointer; margin: 10px 15%; width: 70%; padding: 10px 15px; background-color: rgba(255,255,255,1); color: #000; text-align: center; font-size: 18px; font-weight: 400;}
    #truebox.notactivated {cursor: default; width: 30px; font-size: 0px;}
    #falsebox.notactivated {cursor: default; width: 30px; font-size: 0px;}
    #truebox.notactivated:hover {opacity: 1;}
    #falsebox.notactivated:hover {opacity: 1;}

    #quizendbox {position: relative; width: 100%; height: 100%; padding: 10px 5%; background-color: rgba(184,39,113,1);}
    #quizendbox p {font-size: 16px; line-height: 18px; color: #fff; font-weight: 400;}
    #quizenroll {position: relative; cursor: pointer; margin: 10px 15%; width: 70%; padding: 10px 15px; background-color:rgba(0,113,152,1); color: #fff; text-align: center; font-size: 18px; font-weight: 400;}
    #retry {position: absolute; bottom: 0; left: 0; width: 100%; font-size: 16px; line-height: 16px; text-align: center; cursor: pointer; background-color: rgba(0,0,0,1); color: #fff; padding: 10px 0;}
    #scorebox.quizfinish {position: relative; width: 60px; height: 240px; margin-top: 0; color: #fff; background-color:rgba(0,113,152,1);}





    }







////////////////////////////////////////////////////////////////

// navtop

.navtop-launch {position: absolute; top: 0; left: 0; z-index: 100; width: 100%; padding: 10px 0 0 0; margin: 0; background-color: #fff;}
.navtop-launch ul {position: relative; height: auto; width: 100%; max-width: 800px; list-style-type: none; margin: 0; padding: 0;}
.navtop-launch ul li {position: relative; float: left; text-align: center; width: 25%; height: auto; padding: 0; margin: 0; background-color: #fff; cursor: pointer;}
.navtop-launch ul li span {position: relative; color: #e8eae9; width: 100%; text-align: center; font-size: 18px; line-height: 24px; padding: 10px auto; margin: 10px 0; }
.circletop-launch {position: relative; width: 25px; height: 25px; border-radius: 50%; margin:5px auto 10px auto; padding: 0;}
.logoimage-launch {float: left; width: 100%; margin-top: -10px;}
#logoholder-launch {background-color:rgba(232,234,233,0); cursor: default; padding-bottom: 10px;}

// javascript

#quotebutton-launch.jpblue-color span {color: #216f90; font-weight: 700;}

#quotebutton-launch.selectedtab {padding-bottom: 30px; margin-bottom: -30px; transition: all 1s ease 0s;}

// main layout
#mainlayout-launch {position: fixed; width: 100%; height: 100%; padding: 0; background-color:rgba(0,0,0,1); transition: all 1s ease 0s;}
#mainlayout2-launch {position: absolute; width: 100%; height: auto; padding: 50px 0 0 0;}

// quote layout
#quotelayout-launch {position: relative; width: 100%; height: auto; margin: 0; padding: 25px 5%;}
.header1-launch {position: relative; float: left; color: #fff; font-size: 60px; line-height: 62px; text-align: left; width: auto; min-width: 45%; margin: 75px 5% 0 0;}
.bigword-launch {font-size: 128px;}
.header2-launch {position: relative; float: left; color: #fff; width: auto; min-width: 0%; margin: 50px 0 25px 0; font-size: 60px; line-height: 50px; text-align: left;}
.smallword-launch {font-size: 36px;}
.regbutton-launch {background-color: #fff; cursor: pointer; text-align: center; color: #b82771; padding: 5px 10px; margin: 10px auto 10px 0; width: 70%; font-size: 36px;}

.deadlinebox-launch {position: relative; float: right; clear: both; height: auto; width: 100%; margin: 25px 0; padding: 0; text-align: right; color: #e8eae9;}
.deadlinebox2-launch {float: right; min-width: 50%; padding: 0 40% 0 0;}
.deadline-launch {position: relative;  float: right; font-size: 36px; line-height: 38px; font-weight: 400;}
.deadlinedate-launch {font-weight: 700;}
.dividerline-launch {float: right; height: 3px; width: 30%; margin: 25px auto 25px 25%; clear: both; background-color:rgba(232,234,233,1);}
.dateremaining-launch {position: relative; float: right; font-size: 30px; font-style: italic; text-align: right;}

// footer nav
.navfooter-launch {position: fixed; bottom: 0; left: 0; height: auto; width: 100%; margin: 0; padding: 15px 5%; background-color:rgba(232,234,233,1); color: #000;}
.contacttoday-launch {position: relative; float: left; color: #000; font-size: 18px; font-weight: 700; margin: 5px 25px;}

// hidden form
#wrapperform-launch {opacity: 0; z-index: 0; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(33,111,144,.9); margin: 0;}
#wrapperform-launch.active {opacity: 1; z-index: 999; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(33,111,144,.9); margin: 0;}
#hiddenform-launch {position: absolute; opacity: 0; background-color: #fff; z-index: 0; top: 0; left: 0; width: 80%; height: auto; margin: 50px 10%;}
#hiddenform-launch.active {position: absolute; opacity: 1; background-color: #fff; z-index: 1000; top: 0; left: 0; width: 80%; height: auto; margin: 100px 10% 0 10%;}

// closed button 
#sitemenu-icon-launch {display: none;}
#sitemenu-icon-launch.active {
	background-color: transparent;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: fixed;
    right: 40px;
    top: 40px;
    width: 32px;
    z-index: 10000;
}

#sitemenu-icon-launch span {
    background: #eaeaea none repeat scroll 0 0;
    height: 4px;
    position: absolute;
    transition: all 300ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
    width: 32px;
}
#sitemenu-icon-launch span.line1 {
    top: 0;
}
#sitemenu-icon-launch span.line2 {
    top: 10px;
}
#sitemenu-icon-launch span.line3 {
    top: 20px;
}
#sitemenu-icon-launch.open .line1 {
    top: 12px;
    transform: rotate(-45deg);
}
#sitemenu-icon-launch.open .line2 {
    opacity: 0;
}
#sitemenu-icon-launch.open .line3 {
    top: 12px;
    transform: rotate(45deg);
}


// mobile css
@media screen and (max-width: 640px){
	// navtop

	.navtop-launch {position: absolute; top: 0; left: 0; z-index: 100; width: 100%; padding: 0px 0 0 0; margin: 0; background-color: #fff;}
	.navtop-launch ul {position: relative; height: auto; width: 100%; max-width: 800px; list-style-type: none; margin: 0; padding: 0;}
	.navtop-launch ul li {position: relative; float: left; text-align: center; width: 25%; height: auto; padding: 0; margin: 0; background-color: #fff; cursor: pointer;}
	.navtop-launch ul li span {position: relative; color: #e8eae9; width: 100%; text-align: center; font-size: 10px; line-height: 10px; padding: 5px auto; margin: 5px 0; }
	.circletop-launch {position: relative; width: 15px; height: 15px; border-radius: 50%; margin:0px auto 5px auto; padding: 0;}
	.logoimage-launch {float: left; width: 100%; margin-top: 0px;}
	#logoholder-launch {background-color:rgba(232,234,233,1); cursor: default; padding-bottom: 0px;}

	// javascript
	#quotebutton-launch.selectedtab {padding-bottom: 10px; margin-bottom: -10px; transition: all 1s ease 0s;}

	// main layout
	#mainlayout2-launch {position: absolute; width: 100%; height: auto; padding: 50px 0 0 0;}

	// quote layout
	#quotelayout-launch {position: relative; width: 100%; height: auto; margin: 0; padding: 25px 5%;}
	.header1-launch {position: relative; float: left; font-weight: 700; color: #fff; font-size: 30px; line-height: 32px; text-align: left; width: auto; min-width: 45%; margin: 25px 0% 0 0;}
	.bigword-launch {font-size: 60px;}
	.header2-launch {position: relative; float: left; color: #fff; width: auto; min-width: 0%; margin: 30px 0 15px 0; font-size: 30px; line-height: 30px; text-align: left;}
	.smallword-launch {font-size: 24px;}
	.regbutton-launch {background-color: #fff; cursor: pointer; text-align: center; color: #b82771; padding: 5px 10px; margin: 10px auto 10px 0; width: 70%; font-size: 24px;}

	.deadlinebox-launch {position: relative; float: right; clear: both; width: auto; height: auto; margin: 25px 0; padding: 0; text-align: right; color: #e8eae9;}
	.deadlinebox2-launch {float: right; min-width: 50%; padding: 0 0 0 0;}
	.deadline-launch {position: relative;  float: right; font-size: 24px; line-height: 26px; font-weight: 400;}
	.deadlinedate-launch {font-weight: 700;}
	.dividerline-launch {float: right; height: 3px; width: 30%; margin: 15px auto 15px 25%; clear: both; background-color:rgba(232,234,233,1);}
	.dateremaining-launch {position: relative; float: right; font-size: 20px; font-style: italic; text-align: right;}


	// footer nav
	.navfooter-launch {position: fixed; bottom: 0; left: 0; width: 100%; margin: 0; padding: 15px 5%; background-color:rgba(232,234,233,1); color: #000;}
	.contacttoday-launch {position: absolute; right:0; bottom:0; color: #000; font-size: 18px; font-weight: 700; margin: 5px 25px;}

	// hidden form
	#hiddenform-launch {position: absolute; opacity: 0; background-color: #fff; z-index: 0; top: 0; left: 0; width: 90%; height: auto; margin: 50px 5%;}
	#hiddenform-launch.active {position: absolute; opacity: 1; background-color: #fff; z-index: 1000; top: 0; left: 0; width: 90%; height: auto; margin: 50px 5% 0 5%;}


	// closed button 
	#sitemenu-icon-launch {display: none;}
	#sitemenu-icon-launch.active {
		background-color: transparent;
	    cursor: pointer;
	    display: inline-block;
	    height: 24px;
	    position: fixed;
	    right: 40px;
	    top: 40px;
	    width: 32px;
	    z-index: 10000;
	}

	#sitemenu-icon-launch span {
	    background: #eaeaea none repeat scroll 0 0;
	    height: 4px;
	    position: absolute;
	    transition: all 300ms cubic-bezier(0.63, 0.64, 0.3, 1) 0s;
	    width: 32px;
	}
	#sitemenu-icon-launch span.line1 {
	    top: 0;
	}
	#sitemenu-icon-launch span.line2 {
	    top: 10px;
	}
	#sitemenu-icon-launch span.line3 {
	    top: 20px;
	}
	#sitemenu-icon-launch.open .line1 {
	    top: 12px;
	    transform: rotate(-45deg);
	}
	#sitemenu-icon-launch.open .line2 {
	    opacity: 0;
	}
	#sitemenu-icon-launch.open .line3 {
	    top: 12px;
	    transform: rotate(45deg);
	}



}