<!DOCTYPE html>
<html>
<head>
  <title>Jpmicrosite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <meta name="viewport" content="width=device-width" />

  <script src="https://use.typekit.net/mum1tza.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

<script>
  $(function() {
     $('.flash-message').delay(500).fadeIn('normal', function() {
        $(this).delay(2500).fadeOut();
     });
  });
  </script>
